
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}




.video-container {
    position: relative;
    width: 100%;
    height: 735px;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    z-index: 1;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    border-radius: 12px;
    min-height: 360px;
    

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

    text-align: center;
    color: black;
    cursor: pointer;
}


h1 {
    font-size: 40px;
    font-weight: bold;
}


.inputbox {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    width: 350px;
    height: 40px;
    padding-left: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.982);
    color: black;
    outline: none;
    cursor: pointer;
}


input::placeholder {
    color: black;
    opacity: 0.7;
}


button {
    height: 40px;
    width: 80px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffa91fba;
}

button:hover {
    background:    #ffa91f;
    ;
}



#temprature,
#condition,
#humidity {
    color: white;
    font-size: 24px;
    font-weight:600;
    margin-top: 10px;
}
#weatherText{
    text-align: center;
   color: white;
    margin-top: 10px;
font-size: 50px;
font-weight: bold;
}
#country_name{
    color: white;
    font-weight: bold;
    margin-top: 5px;
font-size: 45px;
}
